@model MvcApplication4.Models.Product
@{
    ViewBag.Title = "Update";
}
@{
    Layout = "~/views/Shared/_LAdmin.cshtml";
}
<div class ="center_content"style="padding-left:50px">
<h2>Update Product</h2>
<form method="post" action="/Products/UpdateConfirm/@Model.Id">
    <table style="nav-left:auto">
        <tr>
            <td>Name</td>
            <td><input type="text" value="@Model.Name" name="Name" required /></td>
        </tr>
        <tr>
            <td>
                Category
            </td>
            <td>

                <select id="Cat" name="Cat">
                    <option value="Processors" selected id="Processors">Processors</option>
                    <option id="Motherboard" value="Motherboard">Motherboard</option>
                    <option id="Desktop" value="Desktop">Desktop</option>
                    <option id="Laptop" value="Laptop">Laptop</option>
                    <option id="Others" value="Others">Others</option>
                </select>

            </td>
</tr>
        <tr>
            <td>
                Brand
            </td>
            <td>

                <select id="Bran" name="Bran">
                    <option value="Sony" id="Sony" selected>Sony</option>
                    <option value="Samsung" id="Samsung">Samsung</option>
                    <option value="Daewoo" id="Daewoo">Daewoo</option>
                    <option value="LG" id="LG">LG</option>
                    <option value="Fajistu" id="Fajistu">Fajistu</option>
                    <option value="Motorlla" id="Motorlla">Motorola</option>
                    <option value="Phillips" id="Phillips">Phillips</option>
                    <option value="Beko" id="Beko">Beko</option>
                    <option value="Others" id="Others">Others</option>
                </select>

            </td>
</tr>
        <tr>
            <td>
                Description
            </td>
            <td><input type="text" value="@Model.Description" name="Description" required/></td>
</tr>
        <tr>
            <td>
                Price
            </td>
            <td> <input type="number" value="@Model.Price" name="Price" required /></td>
</tr>
        <tr>
            <td><input type="submit" value="Update" /></td>
</tr>
    </table>
</form>
</div>